/* BoardPage.css */
.board-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.board-header {
  margin-bottom: 50px;
  
}

.board-title{
  display: flex;
  align-items: center;
  gap: 20px; 
}

.board-members{
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px; 
}

.member-list{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.member-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0; /* 멤버 간의 간격을 조정합니다. 필요에 따라 조절하세요. */
}

.member-nickname {
  margin-top: 5px; /* 아이콘과 닉네임 사이의 간격을 조절합니다. 필요에 따라 조절하세요. */
}



.board-content{
  font-size: 20px;
}

.board-owner {
  font-size: 16px;
}

.board-columns {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈을 위해 flex-wrap 추가 */
  justify-content: space-between;
  /* 내용물의 유무에 상관없이 기본적인 컬럼의 크기를 정해놓고 만약에 컬럼의 내용물이 추가된다면 조정할 수 있도록 flex-grow 속성을 추가합니다. */
  flex-grow: 1;
  margin-bottom: 30px;
  /* 영역의 기본 높이를 50px로 설정하고 내용물이 추가될 때마다 높이가 조정되도록 min-height 속성을 추가합니다. */
  min-height: 50px;

}

.column {
  width: calc(25% - 10px); /* 한 줄에 네 개씩 출력하기 위해 너비 조정 */
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; /* 각 칼럼 사이의 간격 조정 */
  min-height: 300px; /* 컬럼의 기본 높이를 200px로 설정 */
}


/*      <div className='column-add-modal'>
          <div className="column-add-name">
          <input className="column-title-input" type="text" placeholder="Column Title" value={newColumnTitle} onChange={(e) => setNewColumnTitle(e.target.value)} />
          <button className="save-column-btn" onClick={handleAddColumn}>
        </div> */
.card-modal,
.column-modify-modal,
.column-add-modal{
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children horizontally */
  width: 100%; /* Adjust this as needed, could be a fixed width or percentage */
  max-width: 400px; /* This should match the max-width of the input and textarea */
  margin: 0 auto; /* Centers the container in the middle of the page */
  
}

/* column-title-input과 
column-modify-column-title과
 column-modify-column-order과 
 card-title-input */

 .column-title-input,
 .column-modify-column-title,
 .column-modify-column-order,
 .card-title-input,
 .card-content-input {
   width: 100%; /* Sets the width relative to the parent element */
   max-width: 500px; /* Ensures all inputs and textareas have the same maximum width */
   padding: 10px; /* Provides padding inside the input/textarea */
   margin-bottom: 10px; /* Adds spacing between the elements */
   box-sizing: border-box; /* Includes padding and border in the element's total width and height */
 }
 




.save-column-btn {
  width: 100%; /* 너비를 부모 요소에 맞춥니다 */
  max-width: 400px; /* 필요에 따라 최대 너비를 설정할 수 있습니다 */
  /* 필요에 따라 추가 스타일을 적용합니다 */
}





/* column-title,column-add-icon */
.column-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.column-title-input {
  width: 100%; /* 전체 너비를 사용하거나, 필요한 경우 특정 픽셀 값으로 설정 */
  max-width: 300px; /* 최대 너비를 300px로 설정, 필요에 따라 조정 */
  padding: 8px; /* 입력 필드 내부의 공간 */
  box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}


.card-add-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


.card-content-input {
  height: 150px; /* Sets a fixed height for the textarea */
  resize: none; /* Disables resizing of the textarea */
}




.save-card-btn {
  width: 100%; /* 너비를 부모 요소에 맞춥니다 */
  max-width: 400px; /* 필요에 따라 최대 너비를 설정할 수 있습니다 */
  /* 필요에 따라 추가 스타일을 적용합니다 */
}


.column-add-icon,
.column-modify-icon {
  margin-left: 8px; /* adjust as needed */
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s; /* 호버 효과를 위한 트랜지션 속성 추가 */
  /* 아이콘의 위치를 좀 더 위로 올리기 위해 position 속성을 추가합니다. */
  position: relative;
  top: -8px;


}

.column-add-icon:hover,
.column-modify-icon:hover {
  transform: scale(1.1);
}

/* board-title, board-owner */
.board-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.board-owner {
  margin-left: 8px; /* adjust as needed */
  cursor: pointer;
}


.add-card-text {
  cursor: pointer;
  padding: 10px; /* 클릭 영역을 넓히기 위한 패딩 */
  border-radius: 5px; /* 모서리를 둥글게 */
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-card-text:hover {
  background-color: rgba(74, 150, 74, 0.1); /* 호버 효과 */
  transform: scale(1.1);
}

.cards {
  margin-bottom: 15px;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  /* 각 카드의 색상은 이미지 기준으로 조정합니다. */
}

.add-column-btn{
  width:10%;
  background-color: rgb(74, 150, 74);
  border: none;
  padding: 6px 10px; /* 버튼의 패딩을 수정하여 크기를 줄임 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* 버튼의 글꼴 크기 조정 */
  /* 영역의 우측 상단에 출력되도록 위치를 조정합니다. */
  position: absolute;
  top: 70px;
  right: 20px;
}

.add-card-btn {
  width: 50%;
  background-color: rgb(74, 150, 74);
  border: none;
  padding: 6px 10px; /* 버튼의 패딩을 수정하여 크기를 줄임 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* 버튼의 글꼴 크기 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-card-btn:hover,
.add-column-btn:hover {
  background-color: black;
}


.column-header {
  display: flex;
  align-items: center; /* 중앙 정렬 */
  padding: 0 15px; /* 패딩을 추가하여 좀 더 시각적 여유를 줍니다 */
}


.card-column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.column-modify-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.column-add-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.delete-column-btn{
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 6px 10px; /* 버튼의 패딩을 수정하여 크기를 줄임 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* 버튼의 글꼴 크기 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.save-column-btn {
  background-color: rgb(11, 155, 107);
  border: none;
  padding: 6px 10px; /* 버튼의 패딩을 수정하여 크기를 줄임 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* 버튼의 글꼴 크기 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-card-btn,
.save-column-btn {
  background-color: rgb(11, 155, 107);
  border: none;
  padding: 6px 10px; /* 버튼의 패딩을 수정하여 크기를 줄임 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* 버튼의 글꼴 크기 조정 */
}

.save-card-btn:hover,
.save-column-btn:hover {
  background-color: black;
}

/* 반응형 레이아웃을 위한 스타일 */
@media (max-width: 768px) {
  .board-columns {
    flex-direction: column;
  }

 

  .column {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }

  
}


.column:hover {
  /* 경계선이 검정색으로 변경되도록 스타일을 추가합니다. */
   border: 0.5px solid rgb(150, 144, 144);
 }

