.board-list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px; /* 보드 간의 간격을 설정합니다. */
}

.board {
     width: 500px;
  border: 1px solid #ddd; /* 보더 스타일 */
  padding: 15px; /* 내부 여백 */
  border-radius: 8px; /* 모서리 둥글기 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.board-title {
  margin: 0 0 10px 0; /* 제목 아래의 마진 */
  font-size: 1.2rem; /* 제목 폰트 사이즈 */
}

.board-content {
  margin: 0; /* 내용 마진 */
  font-size: 1rem; /* 내용 폰트 사이즈 */
  white-space: nowrap; /* 줄바꿈 없이 한 줄에 표시 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 생략부분을 말줄임표로 표시 */
  width: 100%; /* 카드 타이틀의 너비를 부모 요소에 맞춤 */
  display: block; /* 블록 레벨 요소로 만들어 너비를 100%로 설정 가능 */
}
