.user-profile {
  display: flex;
  align-items: center;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  
  margin-left: 10px; /* 이미지와 텍스트 사이의 간격을 위해 */
}

.user-image {
  width: 150px;
  height: 150px;
}

.user-nickname {
  margin: 0;
  /* 필요한 스타일링 추가 */
}
.user-actions {
   margin: 15px 0;
  display: flex; /* 이 컨테이너 내부의 모든 자식 요소들을 가로로 나열합니다. */
  justify-content: center; /* 자식 요소들을 컨테이너의 중앙에 정렬합니다. */
  align-items: center; /* 자식 요소들을 세로 방향으로 중앙에 정렬합니다. */
  gap: 10px; /* 자식 요소들 사이의 간격을 10px로 설정합니다. */
}

.user-actions p {
  margin: 5px 0;
  
  cursor: pointer;
}
#loginB{

  width: 200px;


}
#signupB{
  width:200px
}