/* JoinBoardModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important; /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소들 위에 표시 */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  width: 90%;
  max-width: 500px; /* 최대 너비 설정 */
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* 위쪽 여백 */
  margin-bottom: 20px; /* 아래쪽 여백 */
  border: 1px solid #ccc;
  border-radius: 4px; /* 입력 필드 모서리 둥글게 */
}

form{
    background-color: white;
}

.modal-actions {
  display: flex;
  justify-content: space-between; /* 버튼 사이 공간 균등 분배 */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  background-color: #007bff; /* 배경색 */
  color: #fff; /* 글자색 */
}

button[type="button"] {
  background-color: #6c757d; /* 취소 버튼 배경색 */
}

button:hover {
  opacity: 0.9; /* 마우스 오버 시 버튼 투명도 조절 */
}
