/* MainPage.css 또는 해당하는 스타일 시트 파일 */
.loggo {
  width: 400px;
  height: 400px;
  top: 40px;
  margin-top: -300px;
}
.main-page-container {
  position: relative;
  display: flex; /* Flexbox 컨테이너 설정 */
  justify-content: center; /* 주 축(가로축)에서 중앙 정렬 */
  align-items: center; /* 교차 축(세로축)에서 중앙 정렬 */
  min-height: 100vh; /* 최소 높이를 뷰포트의 100%로 설정 */
  padding: 60px 20px 20px;
  align-items: center; /* 내부 요소들을 가로축(세로 방향 컨테이너에서)에서 중앙 정렬 */
  /* 요소들이 세로로 배치되도록 설정 */
  flex-direction: column;
}
.user-info {
  margin-top: -100px; /* 필요하다면 .user-info의 상단 마진을 늘려서 추가 공간을 만듭니다 */
}
.main-container {
  align-items: center;
}
.board-list {
  align-items: center;
}

.main-form {
  width: 100%; /* 폼의 너비를 100%로 설정 */
  max-width: 600px; /* 폼의 최대 너비 설정 */
  padding: 20px; /* 폼 내부의 패딩 */
  box-sizing: border-box; /* 너비와 높이 계산 시 패딩과 테두리 포함 */
  background: #ffffff; /* 배경색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  border-radius: 8px; /* 모서리 둥글게 */
  display: flex;
  flex-direction: column;
  border: none; /* 테두리 없음 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.board-title {
  text-align: center; /* 제목 중앙 정렬 */
  margin-bottom: 20px; /* 제목과 목록 사이 간격 */
}

.header-content {
  display: flex;
  justify-content: space-around; /* 양 끝으로 요소 배치 */
  align-items: center; /* 세로 축 중앙 정렬 */
}

.board-title {
  /* "My Board" 제목을 위한 스타일 */
  margin: 0; /* 필요에 따라 조정 */
}

.header-icons {
  display: flex;
  gap: 10px; /* 아이콘 사이 간격 */
}

.plus-icon,
.settings-icon {
  position: relative;
  width: 24px; /* Adjust the icon size if necessary */
  height: 24px;
  cursor: pointer; /* To indicate the icon is clickable */
  margin-left: 10px; /* Adjust this to space out the icons, and make sure they do not overlap */
}
.plus-icon {
  margin-left: 10px; /* This should be positive to push it away from the previous element */
}

.plus-icon-container,
.settings-icon-container {
  margin-right: 10px;
}

.settings-icon {
  margin-left: 10px; /* This should be positive to push it away from the previous element */
}
.chat-icon {
  position: fixed; /* 화면에 고정 */
  bottom: 40px; /* 하단에서 20px 위 */
  right: 100px; /* 우측에서 20px 왼쪽 */
  background-color: #007bff; /* 아이콘 배경 색상 */
  color: white; /* 아이콘 색상 */
  padding: 10px; /* 내부 여백 */
  border-radius: 50%; /* 원형 디자인 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  font-size: 24px; /* 아이콘 크기 */
}
