/* SignupPage.css */
body {
  background-color: #cde5e8;
}
.signup-form-container {
  display: flex;
  max-width: 800px; /* 가로 최대 너비 지정 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 80cm; /* 원하는 가로 길이로 설정 */
  height: 20cm; /* 원하는 세로 길이로 설정 */
  text-align: center;
}

form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center; /* h2 요소를 가운데 정렬 */
}

input {
  width: calc(100% - 130px); /* 사이 사이 간격 고려하여 너비 지정 */
  margin: 0 50px 50px; /* 위, 아래 여백 10px, 좌우 여백 10px */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pw_check {
  margin-top: 10px;
  font-size: 14px;
}

button {
  width: 400px; /* 원하는 너비로 조정 */
  height: 50px; /* 원하는 높이로 조정 */
  padding: 15px; /* 텍스트와 버튼의 경계 간격을 조정 */
  background-color: #b1bdc5;
  color: #fff;
  border: none;
  border-radius: 50px; /* 동그랗게 만들기 위해 반지름 값을 높이의 절반으로 설정 */
  cursor: pointer;
}

button:hover {
  background-color: #cde5e8;
}
